<form action="/adoptions" method="POST">
<div class="form-wrapper">

  <div class="form-">
    <label for="owner_select">Owner:</label>
    <select name="owner_id" id="owner_select">
      <% for owner in @owners do %>
        <option value=<%= owner.id %>><%= owner.name %> </option>
      <% end %>
    </select>
  </div>

  <div class="form-">
    <label for="pet_select">Pet:</label>
    <select name="pet_id" id="pet_select">

      <% for pet in @pets do %>
        <% adoptable_pets = [] %>
          <% adoptable_pets.push(pet) if ( pet.adopted? == false && pet.adoptable == true) %>
            <% for adoptable_pet in adoptable_pets do %>
          <option value="<%= adoptable_pet.id %>"><%= adoptable_pet.name %> </option>
        <% end %>
      <% end %>

    </select>
  </div>

  <div class="form">
    <input type="submit" value="Adopt!"/>
  </div>

</div>
</form>

<!-- Push none child friendly pets to one array and child friendly ones to another loop through/draw from them? -->
<!-- unless pet.adoptable == false || (owner.bairns == true && pet.bairn_friendly == false)%> -->
