<h2><%= @pet.name %></h2>

  <p>I'm a <%= @pet.breed %>!</p>
    <% if @pet.adoptable == true %>
      <p>I'm currently up for adoption!</p>
    <% else %>
      <p>I'm not currently up for adoption</p>
    <% end %>

    <% if @pet.adopted? != true %>
      <p>I've been looking for an owner since: <%= @pet.admission_date %></p>
    <% else %>
      <p>I've found a home!</p>
    <% end %>

<a href="/pets/<%= @pet.id %>/edit">Edit pet</a>
