<div class="pets-box">

  <a href="/pets/dogs" class="category-link"><img class="animal-pic" src="/dog.jpg">
  <div class="category-name" style="text-align: center;">Dogs</div></a>

  <a href="/pets/cats" class="category-link"><img class="animal-pic" src="/cat.jpg">
  <div class="category-name" style="text-align: center;">Cats</div></a>

  <a href="/pets/birds" class="category-link"><img class="animal-pic" src="/bird.jpg">
  <div class="category-name" style="text-align: center;">Birds</div></a>


  <a href="/pets/horses" class="category-link"><img class="animal-pic" src="/horse.jpg">
  <div class="category-name" style="text-align: center;">Horses</div></a>

  <a href="/pets/small_animals" class="category-link"><img class="animal-pic" src="/hamster.jpg">
  <div class="category-name" style="text-align: center;">Rodents</div></a>

  <a href="/pets/others" class="category-link"><img class="animal-pic" src="/snake.jpg">
  <div class="category-name" style="text-align: center;">Others</div></a>

</div>
