<div class="pets-box">
  <a href="/pets/dogs"><img class="animal-pic" src="/dog.jpg"></a>
  <a href="/pets/cats"><img class="animal-pic" src="/cat.jpg"></a>
  <a href="/pets/birds"><img class="animal-pic" src="/bird.jpg"></a>
  <a href="/pets/exotic_animals"><img class="animal-pic" src="/snake.jpg"></a>
  <a href="/pets/horses"><img class="animal-pic" src="/horse.jpg"></a>
  <a href="/pets/small_animals"><img class="animal-pic" src="/hamster.jpg"></a>
</div>
