<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><a href="/">Jurassic Bark Animal Shelter</a></title>
    <link rel="icon" href="/background.png"/>
      <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
<div class="top-bar"><a href="/">Jurassic Bark Animal Shelter</a></div>
</div>
  <%= yield %>
    <nav>
      <div class="grid">
        <div class ="grid-row grid-row-sm">
          <div class="cell"><a href="/owners">All our members</a></div>
          <div class="cell"><a href="/owners/new">Register</a></div>
          <div class ="cell"><a href="/pets">All our pets</a></div>
          <div class ="cell"><a href="/pets/new">Add a pet</a></div>
          <div class ="cell"><a href="/adoptions">All adoptions</a></div>
          <div class ="cell"><a href="/adoptions/new">Adopt a pet</a></div>
        </div>
      </div>
    </nav>
  </body>
  <br>
    <div id="footer_box">
      <div class="clearfix">
        <span style="float: left;">&copy; 2017 Jurassic Bark Animal Shelter</span>
        <span style="float: right; padding: 10px">Tel: 01234 567 890</span>
      </div>
    </div>
  <footer>
    <br>
    <p="float: left;">Scottish Charity No. SC 12345</p>
  </footer>
</html>
