<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jurassic Bark Animal Shelter</title>
    <link rel="icon" href="/background.png"/>
      <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <background-image: url("background-icon")>
    <h1>Jurassic Bark Animal Shelter</h1>
    <div class="background-icon">
  	</div>
    <%= yield %>
    <nav>
      <div class="grid">
        <div class ="grid-row grid-row-sm">
          <div class ="cell"><a href="/">Homepage</a></div>
          <div class ="cell"><a href="/pets/new">Add a pet</a></div>
          <div class ="cell"><a href="/pets">All our pets</a></div>
        </div>
      </div>
    </nav>
  </body>
  <footer><p id="footer">&copy; Jurassic Park Animal Shelter 2017</p></footer>
</html>
