<form action="/pets" method="POST">
  <div class="form-wrapper">

    <div class="form-pet">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-pet">
      <label for="breed">Type:</label>
      <input type="text" name="breed" id="breed">
    </div>

    <div class="form-pet">
      <label for="admission_date">Admission date:</label>
      <input type="date" name="admission_date" id="admission_date">
    </div>

    <div class="form-pet">
      <label for="adoptable">Adoptable:</label>
      <input type="checkbox" name="adoptable" id="adoptable" value='TRUE'>
    </div>

    <div class="form-pet">
      <label for="bairn_friendly">Child friendly:</label>
      <input type="checkbox" name="bairn_friendly" id="bairn_friendly" value='TRUE'>
    </div>

    <div class="form-pet">
      <input type="submit" value="Admit pet"/>
    </div>

  </div>
</form>
