<!-- <h1>Adoptable pets</h1>

<% for pet in @pets do %>
adoptable_pets = []
adoptabe_pets.push(pet) if pet.adoptable == true
<% for adoptable_pet in adoptable_pets do %>
  <p><%= adoptable_pet.name %></p>
  <hr/>
<% end %>
<% end %> -->
