<h1>Here is a list of all our pets:</h1>

<% for pet in @pets do %>

<p><%= pet.name %></p>
<p><%= pet.admission_date %></p>
<p><%= pet.id %></p>
<p><a href="/pets/<%= pet.id %>/edit">Edit pet</a></p>


<% end %>
