<form action="/pets" method="POST">
  <div class="form-wrapper">

    <div class="form">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form">
      <label for="breed">Type:</label>
      <select name="breed" id="breed">
          <option value="bird">Bird</option>
          <option value="cat">Cat</option>
          <option value="dog">Dog</option>
          <option value="horse">Horse</option>
          <option value="rodent">Rodent</option>
          <option value="other">Other</option>
      </select>
    </div>



    <div class="form">
      <label for="admission_date">Admission date:</label>
      <input type="date" name="admission_date" id="admission_date">
    </div>

    <div class="form">
      <label for="adoptable">Adoptable:</label>
      <input type="checkbox" name="adoptable" id="adoptable" value='t'>
    </div>

    <div class="form">
      <label for="bairn_friendly">Child friendly:</label>
      <input type="checkbox" name="bairn_friendly" id="bairn_friendly" value='TRUE'>
    </div>

    <div class="form">
      <label for="picture">Picture:</label>
      <input type="text" name="picture">
    </div>

    <div class="form">
      <input type="submit" value="Admit pet"/>
    </div>

  </div>
</form>
