* {
  font-family: Palatino, 'Palatino Linotype', serif;
}
a:visited {
    text-decoration: none;
    color: black;
}

.grid {
  border: 1px solid #3f8bbf;
}

.grid-row {
  display: flex;
  flex-direction: column;
}

.cell {
  flex: 1;
  border: 1px solid #3f8bbf;
  padding: 10px;
}

@media (min-width: 480px) {
  .grid-row-sm {
    flex-direction: row;
  }
}

@media (min-width; 720px) {
  .grid-row-md {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .grid-row-lg {
    flex-direction: row;
  }
}
.top-bar {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100% auto;
  margin: 0 10px, 0;
  padding: 15px;
  overflow: hidden;
  font: normal 24px "Palatino Linotype", Palatino, serif;
  color: white;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #3f8bbf;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.top-bar-logo {
  height: 120px;
  width: auto;
}

.footer_box {
  font-size: 9px;
}

.animal-pic {
  margin: 10px 20px 10px 20px;
  height: 200px;
  width: auto;
  display: inline-block;
}

.pets-box {
  background-color: beige;
}



.telephone-number {
  float: right;
}

.form {
  padding: 8px;
}

.social-media {
  height: 70px;
  width: inherit;
}

.category-link {
  display: inline-block;
  margin-bottom: 10px;
}

.owner_picture {
  height: 300px;
  width: inherit;
}
