<h1>Here is a list of all our currently adoptable birds:</h1>

<% for pet in @pets do %>
<% birds_array = [] %>
<% birds_array.push(pet) if pet.breed == "bird" %>
<% for bird in birds_array do %>

<p><%= bird.name %></p>
<p><%= bird.admission_date %></p>
<img src="<%= bird.picture %>"> 
<p><%= bird.id %></p>
<hr/>
<% end %>
<% end %>
