<form action="/owners" method="POST">
  <div class="form-wrapper">

    <div class="form">
      <label for="first_name">First name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </div>

    <div class="form">
      <label for="surname">Surname:</label>
      <input type="text" name="surname" id="surname">
    </div>

    <div class="form">
      <label for="town">Town:</label>
      <input type="text" name="town" id="town">
    </div>

    <div class="form">
      <label for="bairns">Do you have young children?:</label>
      <input type="checkbox" name="bairns" id="bairns" value='TRUE'>
    </div>

    <div class="form">
      <input type="submit" value="Register"/>
    </div>

  </div>
</form>
